/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/* @import url('https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap');
@import url('node_modules/@govbr-ds/core/dist/core.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'); */

.template-default__wrap {
  & .dashboard {
    /* mudando a cor do background do dashboard */
    background-color: #4a4e69;
  }
}

/* Primary Button */

.card {
  background-color: #9a8c98;
  &:hover {
    background-color: #c9ada7;
  }
}
